.footer {
  height: auto;
  padding: 84px;
  background: #000825;
  margin-top: -20px;
}
@media (max-width: 1441px) {
  .footer {
    padding: 34px;
  }
}
.footer__text {
  color: white;
  font-size: 18px;
  padding: 0 0 20px 0;
}
@media (max-width: 700px) {
  .footer__text {
    font-size: 14px;
  }
}
.footer__menu {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 1441px) {
  .footer__menu {
    font-size: 22px;
  }
}
@media (max-width: 1025px) {
  .footer__menu {
    font-size: 22px;
  }
}
@media (max-width: 980px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 185px;
  }
}
@media (max-width: 700px) {
  .footer__menu {
    font-size: 14px;
  }
}
.footer__item {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
}
.footer__item a {
  text-decoration: none;
  outline: none;
  color: #F0F2FE;
}
.footer__item:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
@media (max-width: 1025px) {
  .footer__item.button {
    display: none;
  }
}
.footer__item.button img {
  height: 50px;
  width: 50px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  padding: 0 24px;
  background: #00030C;
  color: white;
}
.footer__bottom .bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom .button img {
  height: 32px;
  width: 32px;
}