.tile__button {
  font-weight: 500;
  font-size: 15px;
  line-height: 44px;
  color: #110E25;
  width: 109px;
  height: 44px;
  background: #4DF472;
  -webkit-box-shadow: 0px 55px 22px rgba(19, 19, 22, 0.05), 0px 31px 19px rgba(19, 19, 22, 0.1), 0px 14px 14px rgba(19, 19, 22, 0.15), 0px 3px 8px rgba(19, 19, 22, 0.2), 0px 0px 0px rgba(19, 19, 22, 0.25);
          box-shadow: 0px 55px 22px rgba(19, 19, 22, 0.05), 0px 31px 19px rgba(19, 19, 22, 0.1), 0px 14px 14px rgba(19, 19, 22, 0.15), 0px 3px 8px rgba(19, 19, 22, 0.2), 0px 0px 0px rgba(19, 19, 22, 0.25);
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
}
.tile__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}
.tile__line h3 {
  font-weight: 500;
  font-size: 28px;
  color: #110E25;
}
.tile__line a {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #777777;
}
.tile__grid {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 700px) {
  .tile__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tile__container {
  width: 100%;
}
.tile__item {
  width: 100%;
  height: 346px;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px;
  position: relative;
}
.tile__item:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .tile__item {
    height: 223px;
  }
}
@media screen and (max-width: 400px) {
  .tile__item {
    height: 214px;
  }
}
.tile__item.small {
  height: 164px;
}
.tile__item::after {
  display: block;
  position: absolute;
  background-size: cover;
  right: 0;
  content: "";
  bottom: 0;
}
@media screen and (max-width: 400px) {
  .tile__item::after {
    right: -10px;
  }
}
.tile__item.messi::after {
  background-image: url("../src/images/messi.png");
  height: 422px;
  width: 313px;
  bottom: -40px;
}
@media screen and (max-width: 1280px) {
  .tile__item.messi::after {
    height: 289px;
    width: 215px;
    bottom: -27px;
  }
}
@media screen and (max-width: 400px) {
  .tile__item.messi::after {
    height: 261px;
    width: 191px;
    bottom: -24px;
  }
}
.tile__item.lepko::after {
  background-image: url("../src/images/lepko.png");
  height: 374px;
  width: 382px;
}
@media screen and (max-width: 1280px) {
  .tile__item.lepko::after {
    height: 239px;
    width: 244px;
  }
}
@media screen and (max-width: 400px) {
  .tile__item.lepko::after {
    height: 229px;
    width: 234px;
  }
}
.tile__header {
  color: #F0F2FE;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
}
@media screen and (max-width: 1280px) {
  .tile__header {
    font-size: 32px;
  }
}