@import 'mixins';
@import 'variables';
@import 'components/header';
@import 'components/first-screen';
@import 'components/tile';
@import 'components/casino';
@import 'components/women';
@import 'components/providers';
@import 'components/ambasadors';
@import 'components/footer';
@import 'components/jackpot';
@import 'components/slot-data';

.container{
    width: 100%;
    padding: 0 350px;
    margin: 0 auto;
    @media screen and (max-width: 1750px) {
        padding: 0 150px;
    }
    @media screen and (max-width: 1500px) {
        padding: 0 100px;
    }
    @media screen and (max-width: 980px) {
        padding: 0 24px;
    }
}


*{
    font-family: 'Roboto';
font-style: normal;
}