.tile{
    &__button{
        font-weight: 500;
        font-size: 15px;
        line-height: 44px;
        color: #110E25;
        width: 109px;
        height: 44px;
        background: #4DF472;
        box-shadow: 0px 55px 22px rgba(19, 19, 22, 0.05), 0px 31px 19px rgba(19, 19, 22, 0.1), 0px 14px 14px rgba(19, 19, 22, 0.15), 0px 3px 8px rgba(19, 19, 22, 0.2), 0px 0px 0px rgba(19, 19, 22, 0.25);
        border-radius: 8px;
        text-align: center;
        z-index: 1000;
    }
    &__line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 64px;
        h3{
            font-weight: 500;
            font-size: 28px;
            color: #110E25;
        }
        a{
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: #777777;
        }
    }
    &__grid{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }
    &__container{
        width: 100%;
    }
    &__item{
        width: 100%;
        height: 346px;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        padding: 16px;
        position: relative;
        &:hover{
            transform: scale(1.01);
            cursor: pointer;
        }
        @media screen and (max-width: 1280px) {
            height: 223px;
        }
        @media screen and (max-width: 400px) {
            height: 214px;
        }
        &.small{
            height: 164px;
        }
        &::after{
            display: block;
            position: absolute;
            background-size: cover;
            right: 0;
            content: '';
            bottom: 0;
            @media screen and (max-width: 400px) {
                right: -10px;
            }
        }
        &.messi::after{
            background-image: url('../src/images/messi.png');
            height: 422px;
            width: 313px;
            bottom: -40px;
            @media screen and (max-width: 1280px) {
                height: 289px;
                width: 215px;
                bottom: -27px;
            }
            @media screen and (max-width: 400px) {
                height: 261px;
                width: 191px;
                bottom: -24px;
            }
        }
        &.lepko::after{
            background-image: url('../src/images/lepko.png');
            height: 374px;
            width: 382px;
            @media screen and (max-width: 1280px) {
                height: 239px;
                width: 244px;
            }
            @media screen and (max-width: 400px) {
                height: 229px;
                width: 234px;
            }
        }
    }
    &__header{
        color: #F0F2FE;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 56px;
        line-height: 56px;
        @media screen and (max-width: 1280px) {
            font-size: 32px;
        }
    }
}