.slot-data{
    &__wrapper{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 1025px){
            flex-direction: column;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        flex-direction: row;
        color: #777777;
        *{
            display: block;
        }
    }
    &__table{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        span{
            min-width: max-content;
        }
        .line{
            width: 100%;
            border-top: 1px dashed #C0C0C0;
            height: 1px;
        }
    }
    &__tile{
        width: 100%;
        height: 300px;
        background-image: url('../src/images/slot-data.webp');
        position: relative;
        background-size: contain;
        border-radius: 16px;
        &::after{
            background-image: url('../src/images/slot-girl.webp');
            content: '';
            position: absolute;
            height: 339px;
            width: 268px;
            right: 10px;
            bottom: 0;
            background-size: cover;
        }
    }
}