.women{
    height: 356px;
    @media screen and (max-width: 1280px) {
        height: 270px;
    }
    @media screen and (max-width: 769px) {
        height: 200px;
    }
    &::after{
        height: 392px;
        width: 273px;
        bottom: 0;
        @media screen and (max-width: 1280px) {
            height: 289px;
            width: 215px;
        }
        @media screen and (max-width: 769px) {
            height: 231px;
            width: 150px;
            right: 20px;
        }
    }
}
.women1::after{
    background-image: url('../src/images/women1.webp');
}
.women2::after{
    background-image: url('../src/images/women2.webp');
}

.tile.small{
    .women{
        height: 224px;
        @media screen and (max-width: 1280px) {
            height: 200px;
        }
        &::after{
            height: 237px;
            width: 166px;
            bottom: 0;
            @media screen and (max-width: 1280px) {
                height: 185px;
            }
            @media screen and (max-width: 769px) {
            }
        }
    }
    .women3::after{
        width: 224px;
        background-image: url('../src/images/women3.webp');
        @media screen and (max-width: 1280px) {
            width: 190px;
        }
    }
    .women4::after{
        right: 15px;
        background-image: url('../src/images/women4.webp');
        @media screen and (max-width: 1280px) {
            width: 130px;
        }
    }
    .women5::after{
        width: 232px;
        background-image: url('../src/images/women5.webp');
        @media screen and (max-width: 1280px) {
            width: 190px;
        }
    }
}