.infiniteslide__container.provider .infiniteslide__item {
  height: 164px;
  width: 282px;
  background: #DEDEDE;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infiniteslide__container.provider .infiniteslide__item img {
  height: 124px;
  width: auto;
}