.women {
  height: 356px;
}
@media screen and (max-width: 1280px) {
  .women {
    height: 270px;
  }
}
@media screen and (max-width: 769px) {
  .women {
    height: 200px;
  }
}
.women::after {
  height: 392px;
  width: 273px;
  bottom: 0;
}
@media screen and (max-width: 1280px) {
  .women::after {
    height: 289px;
    width: 215px;
  }
}
@media screen and (max-width: 769px) {
  .women::after {
    height: 231px;
    width: 150px;
    right: 20px;
  }
}

.women1::after {
  background-image: url("../src/images/women1.png");
}

.women2::after {
  background-image: url("../src/images/women2.png");
}

.tile.small .women {
  height: 224px;
}
@media screen and (max-width: 1280px) {
  .tile.small .women {
    height: 200px;
  }
}
.tile.small .women::after {
  height: 237px;
  width: 166px;
  bottom: 0;
}
@media screen and (max-width: 1280px) {
  .tile.small .women::after {
    height: 185px;
  }
}
.tile.small .women3::after {
  width: 224px;
  background-image: url("../src/images/women3.png");
}
@media screen and (max-width: 1280px) {
  .tile.small .women3::after {
    width: 190px;
  }
}
.tile.small .women4::after {
  right: 15px;
  background-image: url("../src/images/women4.png");
}
@media screen and (max-width: 1280px) {
  .tile.small .women4::after {
    width: 130px;
  }
}
.tile.small .women5::after {
  width: 232px;
  background-image: url("../src/images/women5.png");
}
@media screen and (max-width: 1280px) {
  .tile.small .women5::after {
    width: 190px;
  }
}